/* TaskForm.css */
.form-body{
    
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.task-form {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 2rem;
    width: 25rem;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  